src/main/mule/janardhan-session3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="075ec521-28ab-4ad0-8726-1857fbb83d82" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="janardhan-session3Flow" doc:id="f4333048-677e-41a9-8919-b34abbc7ac06" >
		<http:listener doc:name="Listener" doc:id="4f710b33-c478-4143-9e75-38eeb0aec048" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["Hello World"]' doc:name="Set Payload" doc:id="bbf36213-6014-4611-a611-c17ecae0a2f4" />
	</flow>
</mule>
